.Button {
  background: tomato;
  border-radius: 12px;
  padding: 12px;
  font-size: xx-small;
  color: white;
  font-weight: 100;
}

.Button:active {
  background-color: lime;
}

.Button:focus {
  background-color: lime;
}
